<p style="color: green"><%= notice %></p>

<h3>Clique em uma data e veja o que acontece</h3>
<div id="weeks">
  <% @weeks.each do |week| %>
    <%= link_to week do %>
      <hr>
      <h2><%= week.title %></h2>
    <% end %>
  <% end %>
</div>

<footer>
   <p>Esse site foi feito para ajudar na hora de mandar cola- qu-quer dizer... códigos para outras pessoas, sem que seja necessário copiar e mandar várias vezes.</p> 
   <p>Qualquer bug, erro, ou algo fora do comum por favor me avise :D</p> 

   <p><%= render 'hearts', mate: @mates.sample %></p>
 </footer>
