<p style="color: green"><%= notice %></p>

<h3>Exercícios do dia <%= @week.title %></h3>
<div id="codes">
  <% @week.codes.each do |code| %>
      <span><%= code.description %></span>
      <p>
        <%= link_to "Resposta", code %>
      </p>
      <hr>
  <% end %>
</div>

