<p style="color: green"><%= notice %></p>

<h1>Lista de Exercícios</h1>

<div id="codes">
  <% @codes.each do |code| %>
    <span><%= code.description %></span>
    <p>
      <%= link_to "Resposta", code %>
    </p>
    <hr>
  <% end %>
</div>

